body, .nav-wrapper {
  /* Light grey */
  background-color: rgba(33, 34, 38, 1)!important;
  color: white!important;
  font-family: 'Lato'!important;
}

/* GLOBAL STYLING */

  .particleCanvas {
    display: block!important;
    position: fixed!important;
    z-index: -1!important;
  }

  .material-icons {
    font-size: 30px;
    vertical-align: middle;
    padding-right: 30px;
  }

  .switch-wrapper {
    position: relative;
  }

  /* NAVBAR STYLING */
    .navLink.home:hover {
      border-color: #026eff;
      color: white!important;
    }

    .navLink.about:hover {
      border-color: #d500ff;
      color: white!important;
    }

    .navLink.skills:hover {
      border-color: #ff9f00;
      color: white!important;
    }

    .navLink.projects:hover {
      border-color: #08ff02;
      color: white!important;
    }

    .navLink.contact:hover {
      border-color: #fcff02;
      color: white!important;
    }

/* HOME PAGE STYLING */

  .contactButtons {
    margin-top: 10px;
    transition: all .3s!important;
  }

  .contactButtons img:hover {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    transition: all .3s;
  }

  .circle.contact {
    border: 0px!important;
  }

  .brand-logo {
    font-size: 36px!important;
    font-weight: 200;
    margin-left: 30px;
  }

  .navLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .navLinks li {
    float: left;
    padding: 0px 15px 0px 15px;
  }

  .titleDiv {
    margin-left: 10%;
    text-transform: lowercase;
  }

  .homeName {
    line-height: 66px;
    font-size: 80pt;
    font-family: 'Lato';
    font-weight: 400;
  }

  .homeTitle {
    font-size: 30pt;
    font-weight: 100;
    padding-left: 7px;
  }

  .homeLinks {
    color: white;
    text-transform: lowercase;
    text-align: left;
    font-size: 50pt;
    font-weight: 100;
    line-height: 90px;
  }

  .navLink {
    transition: all .3s
  }

  .navLink:hover {
    background-color: #1a191e;
    border-style: solid;
    border-width: 0px 0px 10px 0px;
    transition: all .3s
  }

  .homeLink {
    padding-left: 15px;
    padding-right: 50px;
    text-decoration: none;
    transition: all .3s
  }

    .homeLink:hover {
      background-color: #1a191e;
      border-style: solid;
      border-width: 0px 10px 0px 0px;
      transition: all .3s
    }

    .about:hover {
      border-color: #d500ff;
      color: #d500ff;
    }

    .education:hover {
      border-color: #026eff;
      color: #026eff;
    }

    .skills:hover {
      border-color: #ff9f00;
      color: #ff9f00;
    }

    .projects:hover {
      border-color: #08ff02;
      color: #08ff02;
    }

    .contact:hover {
      border-color: #fcff02;
      color: #fcff02;
    }

/* ABOUT PAGE STYLING */
  .aboutHeader {
    text-transform: uppercase;
    font-size: 97pt;
    line-height: 90px;
    font-weight: 600;
    opacity: 0.5;
    padding-bottom: 20px;
  }

  .aboutHeaderHover {
    transition: all .5s;
  }

  .aboutHeaderHover:hover {
    color: #d500ff;
    opacity: 1;
    transition: all .5s;
    cursor: default;
  }

  .headshot {
    margin-top: 11%;
  }

  .circle.photo {
    border: 5px solid #c1cad6;
    width: 350px;
    margin-left: 80px;
  }

  .aboutText {
    text-align: left;
    font-size: 30pt;
    font-weight: 100;
    line-height: 60px;
    margin-top: 2%;
    padding-left: 50px!important;
    /* margin-top at 5 and line-height at 50px were original settings */
  }

  .littleText {
    font-weight: 500;
    transition: all .5s;
  }

  .littleText:hover {
    color: #fcff02!important;
    transition: all .5s;
  }

/* SKILLS PAGE STYLING */
  .skillsHeader {
    text-transform: uppercase;
    font-size: 97pt;
    line-height: 90px;
    font-weight: 600;
    opacity: 0.5;
    transition: all .5s;
    /* padding-bottom: 20px; */
  }

  .skillsHeader:hover {
    color: #ff9f00;
    opacity: 1;
    transition: all .5s;
    cursor: default;
  }

  .frontEndTitle, .backEndTitle {
    font-weight: 500;
    font-size: 80px;
    text-transform: lowercase;
    padding-bottom: 15px!important;
  }

  .skillsText {
    font-size: 32pt;
    font-weight: 100;
    line-height: 100px;
    margin-top: 2%;
    padding-left: 100px!important;
    padding-right: 151px!important;
  }

  .skillDiv {
    padding: 15px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #ff9f00;
    transition: all .3s;
    cursor: default;
    /* margin-top: 5px; */
    /* background: linear-gradient(to right, #ff9f00 50%, #212226 50%);
    background-size: 200% 100%;
    background-position:right bottom; */
  }

  /* .skillDiv:hover {
    background-position: left bottom;
    transition: all .7s ease;
  } */

/* PROJECTS PAGE STYLING */
  .projectsHeader {
    transition: all .5s;
  }

  .projectsHeader:hover {
    color: #08ff02;
    opacity: 1;
    transition: all .5s;
    cursor: default;
  }

  .projectsTitle {
    font-weight: 500;
    font-size: 80px;
    text-transform: lowercase;
  }

  .freecodecampTitle {
    line-height: 70px!important;
    margin-top: 25px!important;
  }

  .projectsText {
    font-size: 24pt;
    font-weight: 100;
    padding-left: 100px!important;
    padding-right: 100px!important;
  }

  .projectModalTrigger {
    text-align: center;
    font-weight: 600;
    padding: 10px 0px 10px 0px!important;
    transition: all .3s;
  }

  .projectModalTrigger:hover {
    background-color: #057802;
    cursor: pointer;
    transition: all .3s;
  }

  .projectModal {
    box-shadow: 0px 8px 23px 5px rgba(88, 105, 107, 0.35);
    padding-top: 15px!important;
    padding-bottom: 15px!important;
    box-shadow: 0px 8px 23px 5px rgba(88, 105, 107, 0.35);
    margin-bottom: 30px;
  }

  .projectModalText ul {
    font-size: 36px;
    text-align: center;
    padding: 10px 0px 0px 0px!important;
    margin: 0px 0px 0px 0px!important;
  }

  .projectModalText li {
    padding: 10px 0px 10px 0px!important;
    margin: 0px 0px 5px 0px!important;
    background-color: #057802!important;
    transition: all .3s
  }

  .awards li:hover, .technologies li:hover {
    background-color: #055a03!important;
    transition: all .3s;
    cursor: default;
  }

  .modal-content h4 {
    font-size: 46px!important;
    font-weight: 200!important;
  }

  .modal-footer button {
    float: none!important;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 0px!important;
  }

  .modal-footer {
    background-color: #1a191e!important;
  }

  .freecodecamp {
    font-size: 36px;
    font-weight: 400;
    margin-top: 30px!important;
    margin-bottom: 0px!important;
  }

  .projectLink {
    color: white!important;
    transition: all .3s;
  }

  .projectLink:hover {
    color: #055a03!important;
    transition: all .3s;
  }

  .fccTechnology {
    font-size: 32px;
    font-weight: 100;
  }

/*  CONTACT PAGE STYLING */

  .contactHeader {
    transition: all .5s;
  }

  .contactHeader:hover {
    color: #fcff02;
    opacity: 1;
    transition: all .5s;
    cursor: default;
  }

  .contactTitle {
    font-weight: 500;
    font-size: 80px;
    text-transform: lowercase;
  }

  .contactText {
    font-size: 65px;
    font-weight: 100!important;
    padding-left: 100px!important;
    margin-top: 4%;
    /* padding-right: 100px!important; */
  }

.contactLink {
  transition: all .3s;
  font-weight: 400;
}

.contactLink:hover {
  transition: all .3s;
}

.contactLink.linkedin:hover {
  color: #1083bf!important;
}

.contactLink.github:hover {
  color: #000!important;
}

.contactLink.resume:hover {
  color: #d500ff!important;
}

.contactLink.email:hover {
  color: #fcff02!important;
}



@media (max-width: 1450px) {
  body {
      font-weight: normal!important;
  }

  .homeLinks {
    font-size: 36pt!important;
  }

  .homeLink {
    padding-right: 40px!important;
  }
}

@media (max-width: 768px) {
  .particleCanvas {
    display: none!important;
  }

  .navLinks.projects, .navLinks.about, .navLinks.contact, .navLinks.skills {
    font-size: 28pt!important;
  }

  .navLinks.projects, .navLinks.skills {
    float: none!important;
    /* margin-left: 15px!important; */
  }

  .homeDiv {
    width: 100%!important;
    min-height: 0!important;
    margin-top: 30px!important;
  }

  .titleDiv {
    margin-left: 5%!important;
  }

  .homeName {
    font-size: 60pt!important;
  }

  .homeTitle {
    font-size: 28pt!important;
  }

  .homeLinks, .aboutText, .headshot {
    width: 100%!important;
    min-height: 0!important;
  }

  .contactButtons {
    margin-top: 20px!important;
    margin-left: 20px!important;
  }

  .mobilePush {
    margin-left: 25px!important;
  }

  .homeLinks ul {
    /* margin-top: 10px!important;
    margin-left: 40px!important; */
    margin: auto;
  }

  .homeLink {
    padding: 0px!important;
  }

  /* ABOUT PAGE STYLING */
  .aboutHeaderHover {
    line-height: 99px!important;
  }

  .navLinks {
    padding-top: 15px!important;
    line-height: 50px!important;
  }

  .aboutText {
    font-size: 18pt!important;
    padding-left: 25px!important;
    padding-right: 25px!important;
    line-height: 40px!important;
  }

  .circle.photo {
    margin-left: 10%!important;
    width: 80%!important;
  }

  #flex {
    display: flex;
    /* Optional, if you want the DIVs 100% width: */
    flex-direction: column!important;
    /* flex-shrink: 0!important; */
  }

  /* div#header { order: 1; }
  div#photo { order: 2; }
  div#biography { order: 3; } */

  /* SKILLS PAGE STYLING */

  .skillsHeader {
    font-size: 90pt!important;
  }

  .skillsText {
    padding-left: 20px!important;
    padding-right: 20px!important;
  }

  .skillsText {
    width: 100%!important;
  }

  .frontEndTitle, .backEndTitle {
    font-size: 78px!important;
  }

  /*  PROJECTS PAGE STYLING */

  .projectsHeader {
    font-size: 58pt!important;
    /* font-size: 91pt!important; */
  }

  .projectsTitle {
    line-height: 90px!important;
    font-size: 55px!important
  }

  .freecodecampTitle {
    font-size: 50px!important;
  }

  .projectsText {
    width: 100%!important;
    padding-left: 25px!important;
    padding-right: 25px!important;
  }

  .projectModalTrigger {
    width: 100%!important;
  }

  .modal.open {
    width: 90%!important;
  }

  .modal.modal-content {
    padding: 20px!important;
  }

  .projectModalText li {
    padding: 5px 0px 5px 0px!important;
  }

  .freecodecamp {
    line-height: 55px!important;
    margin: 20px 0px 20px 0px!important;
  }

  /* CONTACT PAGE STYLING */
  .contactHeader {
    font-size: 60pt!important;
  }

  .contactText {
    padding-left: 25px!important;
    padding-right: 25px!important;
    font-weight: 100!important;
  }

  .contactTitle {
    font-size: 65px!important;
  }

  .contactText {
    font-size: 50px!important;
    margin-bottom: 15px!important;
  }
}

/* @media (min-width: 1200px)
  and (max-width: 1600px) {
    .homeDiv {
      background-color: red!important;
    }
} */
/*
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .homeDiv {
      background-color: blue!important;
    }

}

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .homeDiv {
      background-color: yellow!important;
    }
} */
