body, .nav-wrapper {
  /* Light grey */
  background-color: #212226!important;
  color: white!important;
  font-family: 'Lato'!important;
}

nav {
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  margin-top: 30px!important;
}

.brand-logo {
  font-size: 36px!important;
  font-weight: 200;
  margin-left: 30px;
}

.navLinksTest {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navLinksTest li {
  float: left;
  padding: 0px 15px 0px 15px;
}

.navLinks {
  margin-right: 30px;
}

.titleDiv {
  padding-left: 10%;
  text-transform: lowercase;
}

.homeName {
  line-height: 66px;
  font-size: 80pt;
  font-family: 'Lato';
  font-weight: 400;
}

.homeTitle {
  text-align: right;
  font-size: 30pt;
  font-weight: 100;
  padding-left: 7px;
}

.homeLinks {
  color: white;
  text-transform: lowercase;
  text-align: left;
  font-size: 50pt;
  font-weight: 100;
  line-height: 90px;
}

.navLink:hover {
  background-color: #1a191e;
  border-style: solid;
  border-width: 0px 0px 10px 0px;
  transition: all .2s
}

.homeLink {
  padding-left: 15px;
  padding-right: 50px;
  text-decoration: none;
}

  .homeLink:hover {
    background-color: #1a191e;
    border-style: solid;
    border-width: 0px 10px 0px 0px;
    transition: all .2s
  }


  .about:hover {
    border-color: #d500ff;
    color: #d500ff;
  }

  .education:hover {
    border-color: #026eff;
    color: #026eff;
  }

  .skills:hover {
    border-color: #ff9f00;
    color: #ff9f00;
  }

  .projects:hover {
    border-color: #08ff02;
    color: #08ff02;
  }

  .contact:hover {
    border-color: #fcff02;
    color: #fcff02;
  }

  /* NAVBAR STYLING */
  .home:hover {
    border-color: #d500ff;
  }

  .navLink.education:hover {
    border-color: #026eff;
    color: white!important;
  }

  .navLink.skills:hover {
    border-color: #ff9f00;
    color: white!important;
  }

  .navLink.projects:hover {
    border-color: #08ff02;
    color: white!important;
  }

  .navLink.contact:hover {
    border-color: #fcff02;
    color: white!important;
  }
  /* END NAVBAR STYLING */

.material-icons {
  font-size: 30px;
  vertical-align: middle;
  padding-right: 30px;
}

.switch-wrapper {
  position: relative;
}

/* ABOUT PAGE STYLING */
.aboutHeader {
  text-transform: uppercase;
  font-size: 97pt;
  line-height: 90px;
  font-weight: 600;
  opacity: 0.5;
  padding-bottom: 20px;
}

.headshot {
  margin-top: 10%;
}

.circle {
  border: 5px solid #c1cad6;
  width: 400px;
  margin-left: 80px;
}

.aboutText {
  text-align: left;
  font-size: 32pt;
  font-weight: 100;
  line-height: 60px;
  margin-top: 2%;
  padding-left: 50px!important;
  /* margin-top at 5 and line-height at 50px were original settings */
}

.littleText {
  font-weight: 500;
}

.littleText:hover {
  color: #fcff02!important;
  transition: all .5s;
}

/* SKILLS PAGE STYLING */
.skillsHeader {
  text-transform: uppercase;
  font-size: 97pt;
  line-height: 90px;
  font-weight: 600;
  opacity: 0.5;
  transition: all .5s;
  /* padding-bottom: 20px; */
}

.skillsHeader:hover {
  color: #ff9f00;
  opacity: 1;
  transition: all .5s;
  cursor: default;
}

.frontEndTitle {
  font-weight: 500;
  font-size: 80px;
  text-transform: lowercase;
  padding-bottom: 15px!important;
}

.backEndTitle {
  font-weight: 500;
  font-size: 80px;
  text-transform: lowercase;
  padding-bottom: 15px!important;
}

.skillsText {
  /* text-align: center; */
  font-size: 32pt;
  font-weight: 100;
  line-height: 100px;
  margin-top: 2%;
  padding-left: 100px!important;
  padding-right: 150px!important;
}

.skillDiv {
  padding: 15px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  transition: all .3s;
  cursor: default;
  /* margin-top: 5px; */
  background: linear-gradient(to right, #ff9f00 50%, #212226 50%);
  background-size: 200% 100%;
  background-position:right bottom;
}

.skillDiv:hover {
  background-position: left bottom;
  /* background-color: #1a191e; */
  transition: all .7s ease;
}

@media (max-width: 1450px) {
  .homeLinks {
    font-size: 30pt!important;
  }

  .homeLink {
    padding-right: 40px!important;
  }
}
